fuentes/
images/
js/
languages/
lib/
vuelogic/
xml/
CHANGELOG.md
polla/node_modules/
polla/*.7z
polla/*.json
polla/*.js
polla/.babelrc
polla/dist/*.db
polla/*.md
polla/*.html
polla/*.log
polla/*.lock
*.7z
.gitignore